Language: Cpp
BasedOnStyle: LLVM

AccessModifierOffset: -4
AllowShortFunctionsOnASingleLine: None 
AllowShortIfStatementsOnASingleLine: Never
BreakBeforeBraces: Attach
BreakConstructorInitializers: BeforeColon
ColumnLimit: 150
ConstructorInitializerIndentWidth: 4
IndentCaseLabels: true
IndentCaseBlocks: false
IndentWidth: 4
KeepEmptyLinesAtTheStartOfBlocks: false
MaxEmptyLinesToKeep: 1
NamespaceIndentation: None
PackConstructorInitializers: Never
PointerAlignment: Left 
SpaceBeforeParens: ControlStatements
TabWidth: 4
UseTab: Never